<h1>Editing daily chore</h1>

<%= render "form", daily_chore: @daily_chore %>

<br>

<div>
  <%= link_to "Show this daily chore", @daily_chore %> |
  <%= link_to "Back to daily chores", daily_chores_path %>
</div>
