<h1><%= t('app.new', item: Kid.model_name.human) %></h1>
<%= link_to t('app.back', item: Kid.model_name.human.pluralize), kids_path %>

<%= turbo_frame_tag @kid do %>
  <%= render "form", kid: @kid, title: t('app.new', item: Kid.model_name.human) %>
<% end %>
