<%# <div id="login" style="width: 18rem;"> %>
<div id="login" class="card">
  <div class="card-body">
    <h5 class="card-title">.: Daily Chores</h5>

    <div class="card-button">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
