body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
  height: 100vh;
}

#menu {
  background-color: #ccc;
  padding: 10px;
}

#content {
  min-height: 100vh;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0px 0px 10px #888888;
  padding: 11px;

  @media (min-width: 992px) {
    max-width: 960px;
    padding: 50px;
  }
}

#login {
  width: 18rem;
  margin: auto;

  .card-button {
    margin-top: 40px;
  }
}

.shaddow-card {
  box-shadow: 0px 0px 5px #888888;
}

.kid-list-name {
  font-size: 20px;
}

.kid-chores-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 0px;
  margin: 0px;

  li {
    border: solid 1px #ccc;
    border-radius: 15px;
    padding: 3px 10px;
  }
}

table.chores-table {
  th {
    padding: 10px 5px;
    text-align: center;
  }

  td {
    border: solid 1px #ccc;
    padding: 5px;

    &.chores-title {
      padding: 10px;
    }
  }
}

footer {
  position: sticky;
  bottom: 0;
  text-align: center;
  width: 100vw;
  font-size: 12px;
  padding: 5px;
}
