<h1><%= t('app.edit', item: Chore.model_name.human) %></h1>
<%= link_to t('app.back', item: Chore.model_name.human.pluralize), chores_path %>

<%= turbo_frame_tag @chore do %>
  <%= render "form", chore: @chore, title: nil %>
<% end %>
